.wrapper {
    font-size: 2em;
    padding: 2em;
    margin: 0 auto;
    width: 95%;
    background-color: white;
}
.nav {
    background: white;
    width: 100%;
    height: 50px;
    position: relative;
    border: 1px solid #B2BEB5;
}
.nav li {
    list-style: none;
    float: left;
    text-align: center;
    width: 10%;
    width: calc(100% / 10);
}
.nav > li > div {
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    background: #fff;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}


.nav > li > a {
    color: #536267;
    font-weight: bold;
    font-size: .85em;
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
}
.contact {
    color: #536267;
    font-weight: bold;
    text-align: left;
    font-size: .8em;
    text-decoration: none;
    line-height: 50px;
    padding: 0 20px;
    height: 50px;
    text-transform: uppercase;
}


.nav > li:hover > div {
    display: block;
}

.nav-main {
    width: 100%;
}
.container {
    font-family: "Raleway";
    color: #536267;
    font-size: 1.2em;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.centered {
    text-align: center;
}
.nav1 {
    width: 100%;
    height: 50px;
    /* Used so the menu drop down can be placed absolutely */
    
    position: relative;
}
.nav1> li > a {
    color: #536267;
    font-weight: bold;
    font-size: .85em;
    padding: 0 20px;
    line-height: 50px;
    height: 50px;
    text-transform: uppercase;
}
#profileimg {
    border-radius: 100%;
}
center {
    text-align: center;
}